################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CppEnigmaSim/v15
/x64
/cmake-build-minsizerel
/cmake-build-release
/cmake-build-relwithdebinfo
/cmake-build-debug
